@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body{
    background: url('https://i.ytimg.com/vi/W0_jqp1XrTE/maxresdefault.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.gamemodes{
    display: none;
}
.gamemodes.show{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
}
.modes{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    height: 70vh;
    width: 30vw;
    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 25px 25px 75px  rgba(0, 0, 0, 0.493),
                10px 10px 70px rgba(0, 0, 0, 0.493),
                inset 5px 5px 10px rgba(0, 0, 0, 0.5),
                inset 5px 5px 10px rgba( 255, 255, 255, 0.2 ),
                inset -5px -5px 15px rgba(0, 0, 0, 0.26);
                
    backdrop-filter: blur( 6px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    flex-direction: column;
}
.modes .logo img{
    width: 90%;
    margin-top: 15px;
}
.modes .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pvp,.corrida{
    width: 90%;
    height: 40%;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(252, 252, 252, 0.267);
    box-shadow: 0 0 10px 10px rgba(201, 201, 201, 0.075);
    backdrop-filter: blur( 6px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    transition: .3s ease;
    cursor: pointer;
}
.pvp:hover,.corrida:hover{
    background-color: #00ff00;
    box-shadow: 0 0 20px 10px rgba(7, 252, 7, 0.267);
    color: #222;
    letter-spacing: 5px;
    font-size: 20px;
}

/*          Screen PVP           */

.screenPvp{
    display: none;
}
.screenPvp.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

.pvp-nui{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    height: 60vh;
    background: rgba( 0, 0, 0, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.pvp-nui .logo img{
    height: 80px;
    width: fit-content;
    margin-top: 15px;
}
.modes-pvp{
    width: 100%;
}
.pvp-nui .modes-pvp .cards{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
}
.pvp-nui .modes-pvp .card{
    margin: 15px;
    width: 30%;
    height: 60%;
    background: rgba( 0, 0, 0, 0.4 );
    box-shadow: 0 8px 32px 0 rgba(23, 158, 41, 0.356);
    backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transform: scale(0.9);
    transition: .3s ease;
}
.pvp-nui .modes-pvp .card h2, .pvp-nui .modes-pvp .card img{
    opacity: 0.8;
    transition: .3s ease;
}
.pvp-nui .modes-pvp .card:hover h2, .pvp-nui .modes-pvp .card:hover img{
    opacity: 1;
}
.pvp-nui .modes-pvp .card:hover{
    transform: scale(1);
    letter-spacing: 3px;
    font-size: 18px;
}
.pvp-nui .modes-pvp .card img{
    max-height: 100px;
    margin-top: 25px;
    transition: .3s ease;
}
.pvp-nui .modes-pvp .card:hover img{
    max-height: 120px;
}

.zona-pistol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.zona-rifle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.gun-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.close-btn{
    color: #00ff00;
    font-size: 35px;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 9999;
    opacity: 0.5;
    transition: .3s ease;
}
.close-btn:hover{
    opacity: 1;
    font-size: 39px;
}